/*
 * Copyright (c) 2023 The Qt Group Oy
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&mipi_dsi {
	status = "okay";

	pll-ndiv = <100>;
	pll-idf = <5>;
	pll-odf = <0>;

	vs-active-high;
	hs-active-high;
	de-active-high;
};

&otm8009a {
	data-lanes = <2>;
	pixel-format = <MIPI_DSI_PIXFMT_RGB888>;
	rotation = <0>;
};
